.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.topBar {
    background-color: #73b651;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 20px;
    height: max-content;

}

.hamburger,
.cart {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.hamburger {
    background: url('/hamburger.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.cart {
    background: url('/cart.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.pageTitle {
    font-size: 22px;
    font-weight: 600;
    flex-grow: 1;
    text-align: center;
}