.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.topBar {
    background-color: #73b651;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 20px;
    height: max-content;

}

.hamburger,
.cart {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.hamburger {
    background: url('/hamburger.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.cart {
    background: url('/cart.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.pageTitle {
    font-size: 22px;
    font-weight: 600;
    flex-grow: 1;
    text-align: center;
}

.emptyCart{
    font-size: 40px;
    font-weight: bold;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2b2b2b;
}

.products {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
    padding-bottom: 30px;
}


.product {
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px #00000033;
}
.productInformation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productImage {
    height: 60px;
    width: 60px;
}

.productImage>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.productName {
    flex: 1;
    padding: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.productPrice {
    padding: 10px;
    color: #73b651;
}

.productActionButtons {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.productQuantity {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    background-color: #73b651;
    box-shadow: 0 2px 4px #00000033;
    display: flex;
    justify-content: center;
    align-items: center;
}


.addProduct {
    height: 40px;
    width: 40px;
    cursor: pointer;
    background: url('/increase-in-cart.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.removeProduct {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    cursor: pointer;
    background: url('/decrease-from-cart.svg');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.removeFromList {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    cursor: pointer;
    background: url('/remove-wishlist.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}


/* add a media query greater than phone size */
@media (min-width: 600px) {

    .products {
        padding-left: 20%;
        padding-right: 20%;
    }

    .navLink {
        width: 60%;
    }
}