.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

.main {
    height: max-content;
    min-height: 45vh;
    background-color: #73b651;
    position: relative;
    min-width: max-content;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    height: max-content;

}


.infoBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    height: max-content;
    flex-direction: column;
    gap: 10px;

}

.languageSelector {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
}

.languageSelectorOption {
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}


.selectedIcon {
    background-color: rebeccapurple;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    filter: invert(100%);
    background: url('/languages.png');

    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
}


.languageSelectorOption:nth-of-type(1) {
    border-right: 2px solid white;
}

.user {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.userImage {
    background-color: rebeccapurple;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    background: url('/default_user_image.png');
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
}

.hamburger,
.search,
.cart {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.hamburger {
    background: url('/hamburger.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.search {
    background: url('/search.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.cart {
    background: url('/cart.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    margin-top: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    background: url('/logo.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F5F5F5;
}

.searchBarContainer {
    display: flex;
    min-width: 40vw;
    justify-content: center;
    align-items: center;
}

.searchBar {
    outline: none;
    width: 80%;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}

.horizontalNavBar {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    color: white;
    padding: 20px;
    width: 100%;
    height: max-content;
    text-decoration: underline;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navOption {
    cursor: pointer;
}

.sections {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    min-height: 60vh;
}



.topSection {
    grid-column: span 2;
    color: white;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    background: linear-gradient(to bottom, #1c1c1c80, #1c1c1c80), url('/all.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
}

.topSection:hover {
    text-decoration: none;
}

.topSectionLogo {
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
    cursor: pointer;
    background: url('/logo.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F5F5F5;
}

.topSection p {
    font-size: medium;
}

.leftSection {
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    background: linear-gradient(to bottom, #1c1c1c80, #1c1c1c80), url('/fruits.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rightSection {
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    background: linear-gradient(to bottom, #1c1c1c80, #1c1c1c80), url('/veg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.leftSection:hover , .rightSection:hover {
    text-decoration: underline;
    cursor: pointer;
}

.topSection:hover h3 {
    text-decoration: underline;
}
.topSection:hover {
    cursor: pointer;
}

.logo {
    display: none;
}

.products {
    height: 60vh;
}


.product {
    margin-top: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px #00000033;
}

.productImage {
    height: 60px;
    width: 60px;
}

.productImage>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
}

.productName {
    flex: 1;
    padding: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.productPrice {
    padding: 10px;
    color: #73b651;
}


.addProduct {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    cursor: pointer;
    background: url('/add-to-cart.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.removeProduct {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    cursor: pointer;
    background: url('/decrease-from-cart.svg');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.wishlistProduct {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
    background: url('/wishlist.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.removeWishlistProduct {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
    background: url('/remove-wishlist.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

/* add a media query greater than phone size */
@media (min-width: 600px) {

    .main {
        height: 30vh;
    }

    .topBar {
        flex-direction: row;
    }

    .searchBarContainer {
        min-width: 60vw;
    }

    .searchBar {
        width: 80%;
        margin-left: auto;
        margin-right: 10px;
    }

    .logo {
        height: 100px;
        width: 100px;
        margin: 0;
        display: block;
    }

    /* .sections {
        padding-left: 20%;
        padding-right: 20%;
    } */

    .infoBar {
        flex-direction: row;
    }

}